body {
  background-color: #eee;
  font-family: sans-serif;
  padding: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul.tabs,
.tabs li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs li {
  float: left;
  display: block;
}

.tabs:after {
  display: table;
  content: ' ';
  clear: both;
}

.tabs a {
  display: inline-block;
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 15px;
}

.tabs .active a {
  background-color: #fff;
}

.tab-content {
  position: relative;
  z-index: 3;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.fade {
  opacity: 0;
  transition: opacity 300ms;
}

.fade.in {
  opacity: 1;
}
