*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal :focus {
  /* box-shadow: 0 0 10 blue; */
  outline: 1px solid blue;
}

body,
html {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 300ms both;
}

.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100% - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #fff;
  animation: slideFromTop 500ms both;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  .modal-wrapper {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

.modal[aria-hidden='true'] {
  animation-name: fadeOut;
  /* animation-direction: reverse; /* reversed animation */
}

.modal[aria-hidden='true'] .modal-wrapper {
  animation-name: slideToBottom;
  /*animation-direction: reverse; /* reversed animation */
}
/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideToBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}
